<div [@popUpAnimation]="isVisible ? 'visible' : 'void'" class="easter-egg-container">
    <div class="absolute top-0 left-0 h-max w-max bg-zinc-900 border-2 border-neutral-600 rounded-2xl overflow-hidden" ngDraggable>
        <header class="bg-zinc-800 border-b-2 border-neutral-600 px-4 py-2 flex items-center justify-between">
            <div class="flex gap-2">
                <div
                    class="w-3 h-3 rounded-full bg-red-500 flex items-center justify-center cursor-pointer"
                    (click)="closeEasterEgg()"
                >
                    <ng-icon name="lucideX" class="text-red-800 text-[0.7rem]"></ng-icon>
                </div>
                <div class="w-3 h-3 rounded-full bg-yellow-500">
                </div>
                <div class="w-3 h-3 rounded-full bg-green-500">
                </div>
            </div>
            <p class="text-sm text-neutral-400">{{ 'terminal.easter-egg.header.window-title' | translate }}</p>
            <p class="text-sm text-neutral-400">{{ 'terminal.easter-egg.header.shortcut' | translate }}</p>
        </header>
        <div class="p-4 font-mono text-xs whitespace-pre-wrap text-red-500">
            @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]; track i) {
                <p>{{ 'terminal.easter-egg.content.heart' + i | translate }}</p>
            }
        </div>
    </div>
</div>