<div @slideAnimation>
    <header class="bg-zinc-800 border-b-2 border-neutral-600 px-4 py-2 flex items-center justify-between">
        <div class="flex gap-2">
            <div
                class="w-3 h-3 rounded-full bg-red-500 flex items-center justify-center cursor-pointer"
                (click)="closeInfoTerminal()"
            >
                <ng-icon name="lucideX" class="text-red-800 text-[0.7rem]"></ng-icon>
            </div>
            <div class="w-3 h-3 rounded-full bg-yellow-500"></div>
            <div class="w-3 h-3 rounded-full bg-green-500"></div>
        </div>
        <p class="text-sm text-neutral-400">rik&#64;prtfl-V8MB25/info</p>
        <p class="text-sm text-neutral-400">⌥⌘2</p>
    </header>
    <div class="p-4 font-mono text-sm overflow-y-scroll scrollbar max-h-[calc(100vh-8rem)]">
        <p>info</p>
    </div>
</div>